numpy==1.23.1
nltk==3.6.7
python-Levenshtein==0.12.2
pdf2image==1.16.3
opencv-python==4.5.3.56 
Pillow==9.0.1  
pytesseract==0.3.9
tqdm==4.62.3
wand==0.6.7
git+https://github.com/breezedeus/cnstd.git
git+https://github.com/lukas-blecher/LaTeX-OCR.git
